section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 416px;
}

.box {
    width: 304px;
    height: 352px;
    background-color: #727AB2;
    border-radius: 10px;
}
.boxlogo {
    width: 320px;
}
.form {
    background-color: #8994BB;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    margin-top: 64px;
}
.avata {
    width: 58px;
    background-color: #D9D9D9;
    border-radius: 100%;
    padding: 5px;
    margin-bottom: 32px;

}

input {
    background-color: #D9D9D9;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
}

button {
    width: 210px;
    height: 35px;
    border-radius: 20px;
    background-color: #005BAA;
}
#remember{
    width: 15px;
    margin: 0 4px 4px 0;
}
.checkbox {
    width: 200px;
}
.remember {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #C5C5C5;
    text-decoration: none;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: #C5C5C5;
}